<html>

<head>
<TITLE>DUCK</TITLE>
<link rel="stylesheet" type="text/css" href="formatacao.css"
	media="screen" />
<style>
</style>
</head>

<body>
	<form class='container' name='form' method='POST' name='incluir'>
		<div class='box1'>
			";
			<div>
				<img src='" . $dados[' local'] . "/duckbeer/logo2.png' align='right'
					width='350' height='300' height='0' />

			</div>
			<input type='hidden' name='redirect' value='' /> <input type="hidden"
				name="ip" value="" />

			<div class="box2">

				<input class="campoLogin" type="text" name="nickname"
					placeholder="USUARIO" /></br> <input type="password" class="campoLogin"
					text-align="center" name="secretword" placeholder="SENHA" /></br>
			</div>
			<div class="box2">
				<input class="botaoLogin" type="submit" value="Login"></br>

			</div>
		</div>
	</form>
</body>

</html>